@tailwind base;
@tailwind components;
@tailwind utilities;

.tag {
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.tag-user {
    background: #28a745;
}
.tag-moderator {
    background: #ffc107;
}
.tag-admin {
    background-color: #dc3545;
}
.tag-mb {
    font-size: 12px;
}
