form {
    position: relative;
}

.hashtag-result {
    position: absolute;
    width: 100%;
    height: 130px;
    background: #fff;
    border-radius: 0 0 16px 16px;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.hashtag-result li {
    padding: 10px;
}

.hashtag-result li:hover {
    background: #c5c5c5;
}

input[name=hashtag]{
    display:none;
}

#newTag:focus, #newTag:active {
    outline: none;
    border: 0.125rem solid #81C784;
    box-shadow: 0 0 0.5rem rgba(67,160,71,0.15);
}
ul#tagList {
    display: block;
    padding: 0;
    margin: 10px 0;
}
ul#tagList::after {
    content: "";
    clear: both;
    display: table;
}
ul#tagList li {
    position: relative;
    list-style: none;
    float: left;
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: #E8F5E9;
    line-height: 1rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    word-break: break-all;
}
ul#tagList li > span.rmTag {
    position: absolute;
    margin: 0.25rem;
    top: 0; right: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #C8E6C9;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}
ul#tagList li > span.rmTag:hover {
    background-color: #ef9a9a;
}
