@import "emojionearea/dist/emojionearea.css";
@import "toastify-js/src/toastify.css";

#main {
    border-top: 1px solid #ccc;
    padding-top: 25px;
}

.toast-close{
    font-size: 12px;
}

.main-content__box {
    overflow-x: hidden;
    overflow-y: hidden;
}

.icon-detail {
    width: fit-content;
    margin-right: 10px;
}
.icon-detail img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.info-detail .name-comment,.item-comment-detail .info-detail .content-comment {
    transition: all 0.3s ease-in-out;
    color: #222;
}

.info-detail a:hover {
    color: #198754;
}

.info-detail h5{
    width: fit-content;
    position: relative;
    padding-right: 16px;
    margin-bottom: 5px;
}

.info-detail h5 .verify-user{
    width: 15px;
    height: 15px;
    background: #28a745;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-user{
    width: 15px;
    height: 15px;
    background: #28a745;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
}

.verify-post{
    width: 20px;
    height: 20px;
    background: #2056b1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
    left: 100%;
    transform: translateY(-150%);
}

.action-detail a:last-child {
    margin-left: 10px;
}

.category-detail .category-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #656565;
}

.category-detail a:hover {
    color: #0d6efd;
}

#main img,figure {
    border-radius: 16px;
    max-width: 100%!important;
    height: 100%;
    object-fit: cover;
}

.tags-detail {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-size: 0;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
    padding-bottom: 10px;
}

.tags-detail .txt {
    font-size: 15px;
    line-height: 17px;
    color: #bdbdbd;
    display: inline-block;
    margin-right: 15px;
}

.tags-detail .item-tag {
    display: inline-block;
    font-size: 15px;
    line-height: 17px;
    margin: 0 30px 10px 0;
    position: relative;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.tags-detail .item-tag a {
    color: #000;
    transition: all 0.3s ease-in-out;
}

.tags-detail .item-tag:hover a {
    color: #087CCE!important;
}

.comments-detail {
    border-bottom: 1px solid #E5E5E5;
}

.item-comment-detail {
    margin-top: 20px;
}

.item-comment-detail .content-comment {
    font-size: 18px;
    font-weight: 400;
    color: #4f4f4f;
}

.item-comment-detail .info-detail.d-flex.flex-column {
    max-width: 75%;
}

.item-comment-detail .info-detail.d-flex.flex-column svg {
    filter: invert(0%) sepia(83%) saturate(7500%) hue-rotate(66deg) brightness(84%) contrast(114%)!important;
}

.item-comment-detail .item-footer .btn-report-comment {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.item-comment-detail .item-footer .btn-report-comment:hover {
    background: #e38b8b;
}

.item-comment-detail .item-footer .btn-report-comment:hover i{
    color: #fff!important;
}

.container-posts-category {
    height: fit-content;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-posts-category .main-container__item {
    height: fit-content!important;
}

@media (max-width: 767px) {
    .action-detail {
        margin-top: 10px;
    }

    .action-detail {
        justify-content: flex-start!important;
    }

    #main img,figure {
        width: 100%!important;
    }
}
