.main-content__list-item {
    padding: 15px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px
}

.main-content__list-item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.main-content__list-item::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.main-content__list-item::-webkit-scrollbar-thumb {
    background-color: #000000;
}
