@import "toastify-js/src/toastify.css";

.action-detail a:last-child {
    margin-left: 10px;
}

.tab-pane {
    overflow-x: auto;
    overflow-y: hidden;
}
.img-manager {
    max-width: 40px;
    max-height: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.verify-user{
    width: 15px;
    height: 15px;
    background: #28a745;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
}
