@import "bootstrap";

html, body {
    background: #e1e1e1;
}

a {
    text-decoration: none;
}

.bg-main {
    background: #e1e1e1;
}

.main-navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1030;
    background-color: #fff !important;
    height: 60px;
    padding: 0 10px;
    border-radius: 0 0 25px 25px;
}

.nav {
    position: fixed;
    top: 0;
    z-index: 10;
}

.main-navbar__left {
    flex-grow: 1;
}

.main-navbar__logo {
    width: 100px;
    height: 40px;
}

.main-navbar__logo svg {
    width: 100px;
    height: 40px;
}

.main-navbar__right {
    color: #000 !important;
}

.main-navbar__text {
    text-decoration: none;
    margin: 0 5px;
    color: #000 !important;
}

.main-nav__group {
    margin-right: 10px;
}

.main-nav__group input {
    outline: none;
    line-height: 1;
    width: 100%;
    padding: 0.65rem calc(45px + 1.5rem) 0.65rem 1.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.main-nav__group button {
    border-radius: 3px;
}

.main-nav__group button svg {
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(70deg) brightness(106%) contrast(100%);
}

.result-search-box {
    display: none;
    width: 100%;
    height: 400px;
    position: absolute;
    background: #e1e1e1;
    border-radius: 0 0 16px 16px;
}

.content-result {
    border-bottom: 1px solid #fff;
}

.content-result h6 {
    margin-top: 15px;
}

.content-result:last-child {
    border-bottom: none;
}

.content-result .main-content__item .main-container__item {
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}

.content-result .main-content__item:hover .main-container__item {
    background: #fff!important;
}

.content-result a {
    text-decoration: none!important;
}

.content-result a:hover {
    color: #97908F!important;
}

.categories {
    height: 1.6em;
    flex: 1;
    margin-bottom: 10px;
}

.container-categories {
    overflow-x: auto;
    overflow-y: hidden;
}

.container-categories::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background-color: #F5F5F5;
}

.container-categories::-webkit-scrollbar {
    height: 5px;
    background-color: #F5F5F5;
}

.container-categories::-webkit-scrollbar-thumb {
    border-radius: 16px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.categories-links {
    margin-bottom: 0 !important;
}

.category-link {
    color: #fff;
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.category-item {
    margin-right: 1.5rem !important;
    margin-left: 1rem;
    padding: 0;
    position: relative;
    flex-shrink: 0;
    top: 2px;
}

.category-item.has-sub_categories:hover:after {
    width: 0 !important;
}

.category-item.has-sub_categories:hover .sub-categories {
    display: block;
}

.category-item:hover:after {
    width: 100%;
}

.category-item:after {
    left: 0;
    width: 0;
    height: 2px;
    content: "";
    bottom: -8px;
    display: block;
    position: absolute;
    background-color: #fff;
    transition: width .3s ease;
    z-index: 1;
}

.sub-header {
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.container-sub-header {
    width: 100%;
    z-index: 10;
    background-color: #fff !important;
    height: 70px;
    padding: 0 10px;
    border-radius: 25px 25px 0 0;
}

.content-sub-header {
    width: 100%;
    height: 100%;
    display: flex;
}

.content-sub-header a {
    padding: 20px;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}

.content-sub-header a:hover {
    background: #000;
    color: #fff !important;
}

#main-content {
    margin-top: 60px;
}

.main-content__box {
    background-color: #fff;
    margin-top: 25px;
    padding: 15px;
    border-radius: 16px;
}

.main-content__box:last-child {
    border-bottom: none;
}

.main-content__box h3 {
    color: #000;
    margin-bottom: 0 !important;
}

.info-post-item img {
    width: 50px!important;
    height: 50px;
    border-radius: 50%;
}

.info-post-item h5 {
    margin-left: 10px;
    color: #000;
}

.main-content__item h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.main-content__item {
    margin-bottom: 15px;
}

.main-container__item {
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.main-container__item:hover {
    background-color: #dfdfdf;
    border-radius: 10px;
}

.footer {
    margin-top: 50px;
}

.item-footer {
    font-size: 14px;
    color: #919191;
}

.item-footer svg {
    width: 20px;
    height: 20px;
    color: #000!important;
}

.container-footer {
    padding: 20px;
}

.container-footer a {
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.container-footer a:hover {
    color: #97908F!important;
}

@media (min-width: 769px) {
    .categories {
        min-height: 35px;
    }

    .categories-nav {
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }
}


@media (max-width: 768px) {
    .main-navbar__logo {
        width: fit-content;
        height: 40px;
    }

    .main-navbar__logo svg {
        width: fit-content;
        height: 40px;
    }

    .categories {
        margin-bottom: 15px;
    }

    .container-categories, .categories-links, .categories {
        padding: 0 !important;
    }

    .categories-nav {
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }

    .hidden-mb {
        display: none;
    }

    .sub-header.mb-display {
        display: block !important;
    }

    .footer {
        margin-bottom: 70px;
    }
}


@media (max-width: 425px) {
    .main-nav__group {
        margin-left: 5px;
    }

    .main-nav__group input {
        padding-left: 6px;
        padding-right: 47px;
    }
}
